.nav{
    display:flex!important;
    justify-content: space-between !important;    
    position:relative
   
}

.navbar-light .navbar-toggler-icon{
    background-image: url('https://img.icons8.com/ios-filled/50/000000/search--v1.png')!important
}

.navbar-light .navbar-toggler{
    border:0px

}


.navBar{
    background-color:white;
    margin-bottom: 10px;
    position:fixed!important;
    z-index:10000;
    width:100%;
    height: 60px;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.searchQuery{
    position:absolute;
    width:35%!important;
    list-style-type: none;
    background-color:white;
    font-size:15px;
    
}

.avatarSearchQuery{
    width: 45px;
    height:45px;
    margin-top:1rem;
    border-radius:50%;
    margin-left:.5rem;
    margin-bottom:.5rem
}

.searchResult{
    text-decoration:none!important;
    color:black!important;
}

.inputSearchNav{
    border-radius:1rem
}

.navbar-light .navbar-toggler{
    border-color:none !important
}

#basic-nav-dropdown{
    padding-left: 0px;
}

.avatarImgNavBar{
    margin-left:700px
}


@media (max-width:412px){
    body{
        line-height:1.3!important;
    }
   .navBar{ width:100%}

   .avatarImgNavBar{
    margin-left:0px!important
   }

   #logoutIcon{
    width:100%!important
   }

   #avatarImg{
    padding-left:0px!important;
    padding-right:0px!important;
    width: 365px;
    max-width: 13%!important;
   }

   #avatarPlusLogout{
    width:115px!important;
    justify-content:space-between
   }

   #basic-navbar-nav{
    border-radius:1rem;
   }

   .searchQuery{
    width:100%!important
   }

   .navbar-collapse{
    margin-left:-1px;
    margin-right: -1px;
   }

  .mr-sm-2.form-control{
    width:383px!important
  }

    #userAvatarNav {
        width: 36px !important;
        height: 36px !important
    }

    a#basic-nav-dropdown {
        padding: 20px 10px 0px 0px !important
    }

    .avatarSearchQuery{
        width:45px !important;
        height:45px !important;
    }

    .searchResult{
        margin-left:10px
    }

    .searchResultEmail{
        margin-top:26px!important;
    }

}

.dropdown-menu.show{
    left:-139px
}