.profilePics{
    position:relative;
    width:100%;
    padding-top:4.5rem;
}

#profilePicBackground{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#profilePicInfoUserContainer{
   border-radius:1rem;
   object-fit:cover
}

#rowProfileUser{
    margin-left:6rem!important
}



#profilePicUser img{
    width:75%;
    border-radius:8rem
}

#profilePicUser .row {
    margin-left:2rem!important
}

#UserInfoContainer{
    background-color: rgba(199, 237, 230);
    height:100%;
    padding:.8rem;
    border-radius:1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse ;
}

#otherUserInfoContainer{
    font-size:4.4rem;
    padding: 4.8rem 0rem 1rem 3.8rem;
    display: flex;
}

#userModifyInfoIcon{
    cursor:pointer;
    width:1rem
}

#userModifyInfoIcon:hover{
    background-color:rgba(211, 214, 213, 0.826);
    border-radius:.4rem
}

#col3{
    max-width: 20%!important;
}

#tooltipModifyUserInfo{
    visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
}

#userModifyInfoIcon:hover #tooltipModifyUserInfo{
    visibility: visible;
}

#photoTitle{
    font-size:20px;
    margin-top:.5rem;
    font-family: 'Teko', sans-serif;
    font-weight: 800;

}

.SinglePhotoComponent{
    height:200px
}

.SinglePhotoComponent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:relative;
    border-radius: 0.3rem;
}

.AddAPhotoIconMyProfile{
    width:2rem;
    margin-left:1rem;
    margin-top:.5rem;

}

.AddAPhotoIconMyProfile:hover{
    background-color:rgba(216, 216, 216, 0.781);
    border-radius: .5rem;
    cursor:pointer
}

.tooltipMyProfile{
    position: relative;
        display: inline-block;
}

.tooltipText{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

.tooltipMyProfile:hover .tooltipText{
    visibility: visible
}

#userModalAddInfo{
    margin-top:100px
}


.deleteImgIcon{
    opacity: 0;
    color:red!important;
    position:absolute;
    font-size:30px;
    left:70%;
    top:5%;
    border-radius:50%
}

.deleteImgIcon:hover{
    opacity: 1;
    cursor:pointer
}

#modifyPic{
    visibility:hidden
}

#modifyPic:hover{
    visibility:visible!important
}

#avatarImg:hover{
    cursor:pointer
}

.otherUserInfo{
    font-size: 40px;
    font-family: Teko, sans-serif;
    font-weight: 800;
    display:flex;
    margin-left:50px
}

.avatarProfileMe:hover{
 cursor:pointer
}


.imgModal{
    width: 80vh;
}

.modal-dialog{
    margin-top:4.75rem !important
}

@media (max-width: 412px){
    .userInfo, #rowProfileUser{ 
        margin-left :0px!important;
    }

    #containerPhoto{
        max-width: 95%!important;
        margin-top:1rem
    }

    #toDoContainerForResponsiveness{
        padding-left:0px
    }

    #profilePicUser .row{
        margin-left:0px!important
    }

    .tooltipMyProfile{
        width:48px;
        height:39px;
    }

    .AddAPhotoIconMyProfile{
        margin-left:.7rem
    }

    .photoTitleResponsiveness{
        justify-content:space-between   
    }

   .imgModal{
    width:39vh
   }

   .otherUserAvatar{
    max-width: 100%!important;
    display: flex;
    justify-content:center

   }

   .otherUserInfo{
    font-size:32px
   }

   #otherUserInfoContainer{
    padding-left:15px!important;
    font-size:15px!important
   }

   .containerOtherUserToDoPhoto{
    padding-inline:0rem!important;
    padding-left:15px!important;
   }

   #UserToDoList{
    width:100%!important
   }

   #photoComponentOtherUser{
    max-width: 96%!important;
    margin-top:10px
   }

   #photoTitle{
    margin-left:10px
   }


   #profilePicUser img{
    width:140px;
    height:140px;
   }

   .userInfo div{
    text-align: center;
   }

   #userModifyInfoIcon{
    margin-left:0px!important;
    width:40px!important;
    height:40px!important;
   }

   #userInfoContainer div{
    font-size:14px!important
   }

   .otherUserAvatar img{
    width: 140px !important;
    height: 140px!important;
    margin-left:100px
   }

   .otherUserInfo{
    margin-left:33px
   }

   .otherUserNumberPhotoToDo{
    height: 55px !important
   }

   #UserToDoList.otherUserToDoList{
    width: 96% !important
   }

   .SinglePhotoComponent img{
        width: 95% !important;
        margin-left:14px
   }

   #photoComponentOtherUser div{
    justify-content:center
   }

   .navbar-toggler{
padding-left:4.75rem
   }

   .avatarResponsiveness{
    padding-right: 45px!important;
   }
  
}


#containerPhoto{
    margin-bottom: 10px;
    background-color: white;
    max-width: 70%;
    border-radius: 1rem;
}