.profilePics{
    position:relative;
    width:100%;
    padding-top:3.5rem;
}

#profilePicBackground{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#profilePicInfoUserContainer{
   border-radius:1rem;
   object-fit:cover
}

#profilePicUser{
    position: absolute;
    left:7%;
    bottom:7%;
    width: 25%;
    width: 100%;
    object-fit: cover;
}

#profilePicUser img{
    width: 100%;
    border-radius:1rem 0 0 1rem
}

#UserInfoContainer{
    background-color: rgba(127, 255, 212, 0.399);
    height:100%;
    font-size:2.4rem;
    padding:.8rem;
    border-radius:0 1rem 1rem 0;
    display: flex;
    justify-content: space-between;
}

#otherUserInfoContainer{
    background-color: rgba(127, 255, 212, 0.399);
    height: 100%;
    font-size:4.4rem;
    padding: 3.8rem;
    display: flex;
}

#userModifyInfoIcon{
    cursor:pointer;
}

#userModifyInfoIcon:hover{
    background-color:rgba(127, 255, 182, 0.741);
    border-radius:.4rem
}


#tooltipModifyUserInfo{
    visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
}

#userModifyInfoIcon:hover #tooltipModifyUserInfo{
    visibility: visible;
}

#photoTitle{
    font-size:40px;
    font-family: 'Teko', sans-serif;
    font-weight: 800;

}

.SinglePhotoComponent{
    width: 100%;
    position:relative;
    border-radius: 0.3rem;
}

.AddAPhotoIconMyProfile{
    font-size:40px;
    margin-left:1rem;
    margin-top:1rem;

}

.AddAPhotoIconMyProfile:hover{
    background-color:rgba(86, 244, 86, 0.781);
    border-radius: .5rem;
    cursor:pointer
}

.tooltipMyProfile{
    position: relative;
        display: inline-block;
}

.tooltipText{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

.tooltipMyProfile:hover .tooltipText{
    visibility: visible
}

#userModalAddInfo{
    margin-top:100px
}


.deleteImgIcon{
    opacity: 0;
    position:absolute;
    background-color:greenyellow;
    font-size:30px;
    left:85%;
    top:5%;
    border-radius:50%
}

.deleteImgIcon:hover{
    opacity: 1;
    cursor:pointer
}

#modifyPic{
    visibility:hidden
}

#modifyPic:hover{
    visibility:visible!important
}

#avatarImg:hover{
    cursor:pointer
}