#addAPhotoComponent{
    
    margin-bottom:1rem;
    font-size: 50px;
}

#addAPhotoComponent:hover{
    cursor:pointer;
    background-color: aquamarine;
        border: 1px solid black;
        border-radius: .5rem;
}